.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  background: black;
  padding: 1rem;
  border-radius: 8px;
  max-width: 400px;
  margin: 100px auto;
  position: relative;
}
